@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


// font weight
@mixin fw($weight) {
  $weights: (
    l: 300,
    r: 400,
    m: 500,
    sb: 600
);
  
$output: $weight;

@if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  font-weight: $output;
}

:root {
  --fs-root: 15px;
  --ff-primary: "Montserrat", Tahoma, sans-serif;
  --ff-s: "Bebas Neue", Impact, cursive;
}

strong{
  @include fw(m);
}

@media(max-width: 999px){
  :root{
    --fs-root: 14px;
  }
}

// @media(max-width: 600px){
//   :root{
//     --fs-root: 14px;
//   }
// }