:root{
  --mw: 1130px;
}

.max-container,
.main-container{
  margin: 0 auto;
  padding: 0 15px;
}

.main-container{
  max-width: var(--mw);
}

.max-container{
  max-width: 1920px;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 80px;
}

main{
  overflow: auto;
  padding: 60px 0;
  background-color: color(body); 
}

// body::-webkit-scrollbar {
//   display: none;
// }

// body {
//   -ms-overflow-style: none; 
//   scrollbar-width: none;
// }

.sec-title{
  @include typo(25, 40);
  color: color(blu);
  @include fw(r);
  margin-bottom: 20px;
  strong{
    @include fw(m);
  }
}

.desc p{
  font-weight: 500;
  line-height: 1.8;
  &:not(:last-child){
    margin-bottom: 1.5em;
  }
}

.swiper-slide{
  background-color: color(white);
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  outline: none;
}

.swiper-arw{
  .swiper-button--prev{
    margin-right: 20px;
  }
  .swiper-button--prev,
  .swiper-button--next{
    &:not(.swiper-button-disabled){
      @include fw(sb);
    }
    .swiper-button-disabled{
      opacity: 0.7;
    }
  }
  
      
      // & > *{
      //   min-width: 30px;
      //   height: 30px;
      //   background-repeat: no-repeat;
      //   background-position: center;
      //   background-size: contain;
      // }
      // .swiper-button--prev{
      //   background-image: url('./../img/icons/right-arrow.svg');
      //   @include transform(rotate(-180deg));
      //   margin-right: 20px;
      // }
      // .swiper-button--next{
      //   background-image: url('./../img/icons/right-arrow.svg');
      // }
}

.hs-logo{
  @include typo(26, 30);
  @include fw(sb);
  span{
    @include fw(r);
  }
}

nav{
  @include fw(m);
  ul{
    list-style: none;
    display: inline-block;
  }
  li{
    display: inline-block;
  }
  li:not(:last-child){
    margin-right: 25px;
  }
  li.current-menu-item{
    a{
        &::first-letter{
          color: color(dblu);
        }
        &::after{
          width: 12px;
          opacity: 1;
        }
    }
  }
  a{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 0;
      height: 1px;
      background-color: color(dblu);
      opacity: 0;
      @include transition(0.3s);
    }
    &:hover,
    &:focus,
    &:active,
    &.nav-actv{
      &::first-letter{
        color: color(dblu);
      }
      &::after{
        width: 12px;
        opacity: 1;
      }
    }
  }
}

#menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  position:relative;
  cursor:pointer;
  background:rgba(255,255,255,.4);
  border-radius:5px;
  &:hover {
    background:rgba(255,255,255,.8);
  }
  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      width:25px;
      height: 2px;
      position:relative;
      top: 0;
      left: 0;
      margin: 5px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.6s;
      }
      &:nth-child(3){
        transition-delay:.7s;
      }
    }
  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width: 2px;
        position:absolute;
        top: 7px;
        left: 11px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height: 2px;
        position:absolute;
        left: 0;
        top: 18px;
        transition-delay:.25s;
      }
    }
  }
  
  span {
    display:block;
    background:#566973;
    border-radius:2px;
  }

}

#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.1s;
      }
      &:nth-child(3){
        transition-delay:.2s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.6s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.3s;
      }
    }    
  }
}


.hs__header{
  padding: 20px 30px; 
  &.frontpage{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &:not(.frontpage){
    background-color: color(white);
    @include shadow(4);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11111;
  }

  .inner-container{
    @include d-flex(r, sb, c);
  }

  .btn br{
    display: none;
  }
  
  @media(max-width: 1130px){
    padding: 20px 0px;  
  }

  @media(max-width: 999px){
    padding: 10px 0;  
    nav{
      position: absolute;
      top: 100%;
      right: 0;
      width: 300px;
      background-color: color(white);
      @include shadow(4);
      opacity: 0;
      visibility: hidden;
      @include transform(translateY(20px));
      &.is-showing{
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
        @include transition(0.3s linear);
      }
      ul{
        width: 100%;
      }
      li{
        width: 100%;
        text-align: center;
        border-top: 1px solid #e9eeff;
      }
      li:not(:last-child){
        margin-right: 0;
      }
      li.current-menu-item a{
        background-color: color(pink);
        color: color(white);
        &::first-letter{
          color: inherit;
        }
      }
      a{
        padding: 15px 0;
        display: block;
        &::after{
          display: none;
        }
      }
    }

    .btn{
      margin-left: auto;
      margin-right: 25px;
    }
    #menu-toggle{
      display: inline-block;
    }
  }

  @media(max-width: 575px){
    padding: 10px 0;
    .hs-logo{
      font-size: 20px;
    }
    nav{
      width: 100%;
    }
    .btn{
      padding: 8px 17px;
      line-height: 1.35;
      font-size: 12px;
      margin-right: 5px;
      br{
        display: inline-block;
      }
    }
    #menu-toggle{
      left: 8px;
    }
  }
}

.hs__footer{
  padding: 50px 0;
  background-color: color(body); 
  position: relative;
  .footer-logo{
    color: color(black);
    @media(min-width: 761px){
      @include d-flex(r, sb, fe);
    }
    p{
      @include typo(16, 22);
      a{
        @include fw(sb);
        color: color(blu);
        &:hover{
          color: color(facebook);
        }
      }
    }
  }

  .footer-contact{
    margin: 30px 0;
    @media(min-width: 761px){
      @include d-flex(r, sb, c);
    }
    address{
      @include i-flex(r, fs, c);
      span{
        width: 65px;
        margin-right: 20px;
        opacity: 0.35;
      }
      a{
        &:hover{
          color: color(dblu);
        }
      }
      p{
        line-height: 1.6;
      }
    }
  }

  .footer-links{
    border-top: 1px solid color(border);
    padding-top: 30px;
    @media(min-width: 1000px){
      @include d-flex(r, sb, c);
    }
    nav{
      @include fw(r);
    }
    p{
      @include typo(12, 14);
    }
  }

  @media(max-width: 999px){
    padding: 35px 0;
    .footer-contact{
      address{
        span{
          width: 55px !important;
          margin-right: 15px;
        }
      }
    }

    .footer-links{
      text-align: center;
      nav{
        margin-bottom: 30px;
      }
    }
  }

  @media(max-width: 760px){
    .footer-logo{
      .hs-logo{
        margin-bottom: 30px;
      }
    }
    .footer-contact{
      margin-top: 0;
      address{
        width: 100%;
        margin-top: 30px;
        p{
          font-size: 15px;
        }
      }
    }
  }

  @media(max-width: 575px){
    .footer-links{
      p span{
        display: block;
        margin-top: 0.5em;
      }
      nav{
        ul, li{
          width: 100%;
          text-align: center;
        }
        li:not(:last-child){
          margin-right: 0;
          margin-bottom: 25px;
        }
      }
    }
  }
}

.cd-badge{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 30px 0;
  background-color: #f0f3ff;
  color: color(blu);
  font-size: 15px;
  @include fw(l);
  a{
    @include fw(m);
  }
}


.hs__hero{
  padding-bottom: 50%;
  background-image: url(./../img/hero/full-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  img{
    display: none;
  }
  @media(max-width: 575px){
    background-image: none;
    padding-bottom: 0;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin-top: 0;
    background-image: url(./../img/hero/full-bgP.png);
  }
}


.hs__intro{
  padding: 80px 0 50px;
  color: color(blu);
  // .main-container{
  //   max-width: 960px;
  // }
  p{
    @include typo(40, 50, 1920);
    @include fw(l);
    margin-bottom: 0.3em;
  }
  h2{
    @include typo(60, 90, 1920);
    @include fw(sb);
    margin-bottom: 0.5em;
    span{
      @include fw(r);
    }
  }
  h3{
    @include typo(35, 70, 1920);
    @include fw(l);
    line-height: 1.5;
    strong{
      @include fw(m);
    }
  }
  @media(max-width: 999px){
    padding: 50px 0;
  }

  @media(max-width: 760px){
    padding: 30px 0;
    p{
      font-size: 5vw;
    }
    h2{
      font-size: 7vw;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    h3{
      font-size: 5vw;
      @include fw(r);
      strong{
        font-size: 120%;
      }
    }
  }

  @media(max-width: 575px){
    p{
      font-size: 28px;
    }
    h2{
      font-size: 32px;
    }
    h3{
      font-size: 20px;
    }
  }
}


.hs__room-overview{
  margin: 50px 0;
  color: color(blu);
  overflow: hidden;

  .inner-container{
    @include d-flex(r, fs, s, wrap);
  }

  article{
    width: 550px;
    margin-right: 50px;
  }

  figure{
    position: relative;
    flex: 1;
    @include d-flex(c, sb, fs);

    .rt{
      width: calc(100% + calc(calc(100vw - var(--mw)) / 2));
      padding-left: 6vw;
      img{    
        border-left: 8px solid color(white);
        border-bottom: 8px solid color(white);
      }
      &:hover img{
        position: relative;
        z-index: 11;
        box-shadow: 0px 0px 49px 0px rgba(0, 23, 93, 0.11); 
      }
    }
    .rb{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0 ;
      box-shadow: 0px 0px 49px 0px rgba(0, 23, 93, 0.11); 
      border: 8px solid color(white);
    }
  }

  .room-card{
    @include d-flex(r, fs, c);
    @include border-radius(5px);
    float: left;
    margin-top: 20px;
    padding: 1.5em;
    span{
      width: 70px;
      height: 70px;
      flex: 0 0 70px;
      color: color(white);
      background-color: color(blu);
      @include i-flex(c, c, c);
      @include fw(m);
      font-size: 20px;
      @include border-radius(50%);
      margin-right: 20px;
    }
    h5{
      @include typo(18, 22);
      @include fw(m);
    }
    p{
      @include typo(14, 20);
      @include fw(r);
      line-height: 1.35;
      margin-top: 0.5em;
      strong{
        @include fw(m);
      }
      br{
        display: none;
      }
    }
  }
  @media(max-width: 1100px){
    article{
      width: 41%;
      margin-right: 30px;
      .sec-title{
        margin-bottom: 10px;
      }
    }
    figure{
      .rb{
        width: 80%;
      }
      .rt {
        width: 80%;
        padding-left: 0;
        margin-left: auto;
      }
    }
    .room-card{
      margin-top: 15px;
      span{
        width: 55px;
        height: 55px;
        flex: 0 0 55px;
        font-size: 16px;
      }
    }
  }

  @media(max-width: 999px){
    margin-top: 10px;
    article{
      width: 50%;
    }
    figure{
      @include justify-content(center);
      @include align-items(center);
      .rb{
        width: 100%;
        position: static;
        margin-top: 30px;
        box-shadow: none;
        border: none;
      }
      .rt {
        width: 100%;
       img{
          box-shadow: none;
          border: none;
       }
      }
    }
  }

  @media(max-width: 760px){
    figure{
      display: none;
    }
    article{
      width: 100%;
      margin-right: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 10px;
    }
    .sec-title{
      grid-column-end: 3;
      grid-column-start: 1;
    }
    .room-card{
      padding: 1.2em;
      span{
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        font-size: 14px;
        margin-right: 15px;
      }
      p{
        font-size: 15px;
        strong{
          font-size: 110%;
        }
      }
    }
  }

  @media(max-width: 575px){
    margin-bottom: 30px;
    article{
      grid-template-columns: repeat(1, 1fr);
    }
    .sec-title{
      grid-column-start: 1;
      grid-column-end: 1;
    }
    .room-card{
      @include align-items(flex-start);
      p{
        line-height: 1.6;
        br{
          display: block;
        }
      }
    }
  }
}

.hs__plg-attraction{
  padding: 100px 0;
  color: color(blu);

  .sec-title{
    margin-bottom: 40px;
  }
  
  .figs-cover{
    max-width: 1920px;
    margin: 0 auto;
    .inner-container{
      @include d-flex(r, sb, fs);
    }
  }

  figure{
    flex: 1;
    @include border-radius(10px);
    overflow: hidden;
    position: relative;
    &:not(:last-child){
      margin-right: 0.8vw;
    }

    &:nth-child(odd){
      margin-top: 30px;
    }
    
    &:first-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    figcaption{
      position: absolute;
      top: 30%;
      bottom: 0;
      left: 0;
      right: 0;
      color: color(white);
      @include fw(r);
      @include typo(14, 20);
      line-height: 1.5;
      text-transform: capitalize;
      padding: 1.2em;
      background: linear-gradient(180deg, transparent, rgba(color(blu), 0.7));
      @include d-flex(r, fs, fe);
    }
  }

  @media(max-width: 1200px){
    padding: 30px 0;
  }

  @media(max-width: 999px){
    padding: 20px 0 30px;
  }

  @media(max-width: 575px){
    .sec-title{
      margin-bottom: 20px;
      font-size: 20px;
    }
    .figs-cover{
      .inner-container{
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scroll-padding: 0 15px 48px 15px;
          -webkit-overflow-scrolling: touch;
      }
    }
    figure{
      flex: 0 0 90%;
      scroll-snap-align: start;
      &:not(:last-child){
        margin-right: 10px;
      }
      &:nth-child(odd){
        margin-top: 0;
      }
      img{
        width: 100%;
      }
    }
  }
}


.hs__testomonials{
  margin-top: 30px;
  padding-bottom: 90px;
  color: color(blu);
  position: relative;
  z-index: 1;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 56%;
    background-color: color(lblu);
    z-index: -1;
    // background-image: url('./../img/testi.jpg');
    background-repeat: no-repeat;
    background-position: left center;
  }

  .inner-container{
    @include d-flex(r, fs, s);
  }

  .sec-title{
    margin-top: 15px;
    margin-bottom: 35px;
  }

  article{
    width: 550px;
  }

  .swiper-wrapper{
    align-items: stretch;
  }

  .swiper-slide{
    height: auto !important;
  }

  .testimoni-box{ 
    padding: 7em 5em 4em 6em;
    font-style: italic;
    @include d-flex(c, fs, fs);
    background-image: url('./../img/icons/left-quote.svg');
    background-size: 6em;
    background-position: 3.6em 3.2em;
    background-repeat: no-repeat;
    .--review{
      margin-bottom: 2.5em;
      *{
        line-height: 1.9;
      }
    }
    .--guest-info{
      @include i-flex(r, fs, c);
    }
    .--guest-sname{
      width: 60px;
      height: 60px;
      line-height: normal;
      padding: 1em;
      margin-right: 15px;
      font-size: 20px;
      @include fw(sb);
      @include i-flex(c, c, c);
      font-style: normal;
    }
    .--guest-name{
      @include fw(m);
      font-style: italic;
      @include typo(18, 22);
      margin-bottom: 0.2em;
    }
    .--guest-visited{
      @include typo(12, 14);
    }
  }


  .swiper-testimoni--nav{
    flex: 1;
    position: relative;
    .swiper-pagination-bullet{
      background-color: color(white);
      color: color(blu);
      line-height: normal;
      padding: 1em;
      @include fw(sb);
      @include i-flex(c, c, c);
      font-style: normal;
      z-index: 1;
      opacity: 1;
      @include transition(0.3s);
      &.swiper-pagination-bullet-active{
        background-color: color(blu);
        color: color(white);
        @extend .shadow-1;
      }
    }
    .swiper-arw{
      width: 25%;
      float: right;
      margin-top: 30px;
      @include d-flex(r, sb, c);
    }
    @media(min-width: 1000px){
      .swiper-arw{
        display: none;
      }
      .swiper-pagination-bullet{
        font-size: 20px;
        position: absolute;
      }
      .size-xxl{ width: 95px; height: 95px;}
      .size-xl{ width: 90px; height: 90px;}
      .size-lg{ width: 80px; height: 80px;}
      .size-md{ width: 58px; height: 58px;}
      .size-sm{ width: 70px; height: 70px;}
      .size-xs{ width: 63px; height: 63px;}
      .size-s{ width: 45px; height: 45px; font-size: 14px;}

      .pos-tm{ left: 25%; top: 22%;}
      .pos-tr{ left: 90%; top: 5%;}
      .pos-tl{ left: 59%; top: 0;}
      .pos-bl{ left: 17%; top: 60%;}
      .pos-bm{ left: 50%; top: 86%;}
      .pos-br{ left: 90%; top: 70%;}
      .pos-m{ left: 55%; top: 35%;}
      
    }

    @media(max-width: 1200px){
      .pos-tr,
      .pos-br{ left: auto; right: 0;}
      .pos-tm{ left: 20%; top: 18%;}
      .pos-tl{ left: 52%;}
      .pos-bm{ left: 40%;}
    }
  }
 
  @media(max-width: 999px){
    padding-bottom: 40px;
    &::after{
      width: 50%;
    }
    .inner-container{
      display: block;
    }
  
    article{
      width: 100%;
    }

    .swiper-testimoni--pagination{
      display: none;
    }
  }

  @media(max-width: 760px){
    &::after{
      display: none;
    }
    .sec-title{
      margin-top: 0;
    }
    .testimoni-box{ 
      padding: 4em 3em 3em 5em;
      background-size: 4em;
      background-position: 2em 2em;
      .--guest-sname{
        width: 50px;
        height: 50px;
        margin-right: 12px;
        font-size: 15px;
      }
    }
  }
  @media(max-width: 575px){
    .testimoni-box{ 
      padding: 5em 2em 2em 3em;
    }
    .swiper-testimoni--nav{
      .swiper-arw{
        width: auto;
      }
    }
  }
}

// INNER PAGES
.inner-hero{
  position: sticky;
  top: 150px;
  left: 0;
  right: 0;
  .inner-title{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  img{
    opacity: 0.2;
  }
}

.inner-hero-img{
  position: relative;
  margin-top: 80px;
  .inner-title{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .main-container{
    img{
      opacity: 0.2;
    }
  }
}

.inner-main{
  margin-top: -50px;
  padding-top: 0;
}

@media(max-width: 760px){
  .inner-hero{
    position: static;
  }

  .inner-hero,
  .inner-hero-img,
  .inner-main{
    margin-top: 30px;
  }

  .inner-hero-img{
    .main-container{
      img{
        opacity: 0.8;
      }
    }
  }

  main{
    padding: 30px 0 0;
  }
}

// .hs__rooms-grid{
//   .hs__room{
//     width: 90%;
//     position: relative;
//     &:not(:last-child){
//       margin-bottom: 80px;
//     }
   
//     &::before{
//       content: '';
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       height: 62%;
//       background-color: color(white); 
//       box-shadow: 0px 0px 29.44px 2.56px rgba(0, 23, 93, 0.04);
//     }

//     & > *{
//       position: relative;
//       z-index: 1;
//     }
//     .--room-name{
//       font-family: var(--ff-s);
//       @include typo(30, 40);
//       color: color(blu2);
//       display: inline-block;
//       position: absolute;
//       top: 15%;
//     }

//     figure{
//       width: 45%;
//       border: 6px solid color(white);
//       @include border-radius(10px);
//       margin-bottom: 60px;
//       box-shadow: 0px 0px 15px 5px rgba(0, 23, 93, 0.04);
//       img{
//         @include border-radius(5px);
//       }
//     }

//     summary{
//       width: 50%;
//       @include d-grid(c, repeat(2, auto), 40px, 15px);
//       .--price-box{
//         @include i-flex(r, fs, fs);
//       }
//       span{
//         width: 55px;
//         height: 55px;
//         flex: 0 0 55px;
//         color: color(white);
//         background-color: color(blu);
//         @include i-flex(c, c, c);
//         @include fw(m);
//         font-size: 16px;
//         margin-right: 15px;
//       }
      
//       h6{
//         @include typo(16, 20);
//         @include fw(m);
//         color: color(blu);
//       }
//       p{
//         @include typo(14, 15);
//         @include fw(r);
//         line-height: 1.5;
//         margin-bottom: 0.4em;
//       }
//     }
//     .btn_long-arw{
//       position: absolute;
//       bottom: 40px;
//     }

//     &:nth-child(even){
//       padding: 0 35px 40px 50px;
//       @include d-flex(r, sb, fe, wrap);
//       .--room-name{
//         right: 0;
//       }
//       .btn_long-arw{
//         left: 50px;
//       }
//     }
//     &:nth-child(odd){
//       padding: 0 50px 40px 35px;
//       float: right;
//       @include d-flex(rr, sb, fe, wrap);
//       @include clearfix();
//       .--room-name{
//         left: 0;
//       }
//       .btn_long-arw{
//         right: 50px;
//       }
//     }
//   }
// }


.hs__rooms-grid{
  .hs__room{
    width: 80.65%;
    background-color: color(white); 
    box-shadow: 0px 0px 24px rgba(8, 35, 48, 0.1);
    padding: 40px;
    position: relative;
    z-index: 1;
    margin-bottom: 35px;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1.25fr;
    align-items: end;
    .--room-name{
      font-family: var(--ff-s);
      @include typo(28, 40);
      margin-bottom: 0.5em;
      color: color(blu2);
    }

    figure{
      border: 6px solid color(white);
      @include border-radius(10px);
      box-shadow: 0px 0px 15px 5px rgba(0, 23, 93, 0.04);
      img{
        @include border-radius(5px);
      }
    }

    .hs__room--summary{
      .--price-box{
        @include d-flex(r, fs, fs);
        &:not(:last-child){
          margin-bottom: 25px;
        }
      }
      span{
        width: 55px;
        height: 55px;
        flex: 0 0 55px;
        color: color(white);
        background-color: color(blu);
        @include i-flex(c, c, c);
        @include fw(m);
        @include typo(14, 16);
        margin-right: 15px;
      }
      
      h6{
        @include typo(16, 20);
        @include fw(m);
        color: color(blu);
      }
      p{
        @include typo(13, 15);
        @include fw(r);
        line-height: 1.5;
        margin-bottom: 0.4em;
      }
    }
    .btn_long-arw{
      position: absolute;
      bottom: 40px;
      right: 0;
      font-size: 16px;
    }

    &:nth-child(even){
      float: left;
      // @include d-flex(r, sb, fe, wrap);
      // .--room-name{
      //   right: 40px;
      // }
      // .btn_long-arw{
      //   left: 45px;
      // }
      .--room-name{
        grid-column: 1;
        grid-row: 1;
      }

      figure{
        grid-row: span 2;
      }
    }
    &:nth-child(odd){
      float: right;
      .--room-name{
        grid-column: 1;
        grid-row: 1;
      }
      .hs__room--summary{
        grid-column: 1;
        grid-row: 2;
      }
      figure{
        grid-column: 2;
        grid-row: span 2;
      }
      // @include d-flex(rr, sb, fe, wrap);
      // .--room-name{
      //   left: 40px;
      // }
      // .btn_long-arw{
      //   right: 45px;
      // }
    }

    @media(max-width: 1100px){
      .hs__room--summary{
        span{
          width: 45px;
          height: 45px;
          flex: 0 0 45px;
        }
        // .--price-box:not(:last-child){
        //   margin-bottom: 20px;
        // }
      }
      // .btn_long-arw{
      //   width: 45%;    
      // }
    }

    @media(max-width: 999px){
      width: 100%;
      padding: 30px;
      // margin-top: 0;
      // &:nth-child(even),
      // &:nth-child(odd){
      //   @include align-items(flex-start);
      // }
      // &:nth-child(even){
      //   .btn_long-arw{
      //     left: auto;
      //   }
      // }
      // &:nth-child(odd){
      //   .btn_long-arw{
      //     right: auto;
      //   }
      // }
      // figure{
      //   margin-bottom: 0;
      // }
      // .hs__room--summary{
      //   width: 45%;
      // }
      // .--room-name{
      //   width: 100%;
      //   position: static;
      //   margin-bottom: 25px;
      // }
      // .btn_long-arw{
      //   width: 51%;
      //   position: relative;
      //   bottom: auto;
      //   right: auto;
      //   margin-top: 25px;
      // }
    }
    @media(max-width: 575px){
      padding: 20px;
      grid-template-columns: 1fr;
      .--room-name{
        margin-bottom: 0;
      }
      &:nth-child(even),
      &:nth-child(odd){
        .--room-name,
        .hs__room--summary,
        figure{
          grid-column: auto;
          grid-row: auto;
        }
      }


      // &:nth-child(even),
      // &:nth-child(odd){
      //   display: block;
      // }
      // &:last-child{
      //   margin-bottom: 0;
      // }
      // figure,
      // summary{
      //   width: 100%;
      // }

      // summary{
      //   padding: 0 6px;
      //   margin-top: 30px;
      // }
      // .btn_long-arw{
      //   width: 100%;
      //   text-align: center;
      // }
    }
  }
}

.hs__tours-grid{
  .inner-container{
    padding: 0 63px;
    @include d-flex(r, sb, fs, wrap);
  }
  .hs__tour-item{
    width: 46.6%;
    background-color: color(white); 
    box-shadow: 0px 0px 29.44px 2.56px rgba(0, 23, 93, 0.07); 
    padding: 40px;
    position: relative;
    @include d-flex(r, sb, fe, wrap);
    &:nth-child(even){
      margin-top: 90px;
    }
    .--tour-name{
      font-family: var(--ff-s);
      @include typo(25, 35);
      color: color(blu2);
      flex: 0 0 100%;
      margin-bottom: 0.5em;
    }

    .--tour-duration{
      @include typo(15, 22);
      flex: 0 0 100%;
      color: color(blu);
    }

    .--tour-price{
      @include typo(20, 30);
      @include i-flex(c, fs, fs);
      color: #050505;
      position: relative;
      z-index: 1;
      &::before{
        content: '';
        width: calc(100% + 70px);
        height: 1px;
        background-color: #050505;
        position: absolute;
        right: 0;
        bottom: 7px;
        z-index: -1;
      }
      p{
        margin: 0.2em 0;
      }
      small{
        font-size: 50%;
        background-color: color(white);
      }
    }
  }
  @media(max-width: 999px){
    .inner-container{
      padding: 0 20px;
    }
    
    .hs__tour-item{ 
      width: 48%;
      padding: 25px;
      .--tour-price{
        &::before{
          width: calc(100% + 25px);
        }
        small{
          font-size: 55%;
        }
      }
    }
   
  }
  @media(max-width: 760px){
    .inner-container{
      padding: 0;
    }
  }

  @media(max-width: 575px){
    .hs__tour-item{
      width: 100%;
      &:nth-child(even){
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

.hs__tour-details{
  .inner-container{
    @include d-flex(r, sb, fs);
  }

  .--tour-info{
    width: 60%;
    margin-right: 50px;
  }

  .--tour-name{
    font-family: var(--ff-s);
    @include typo(25, 35);
    color: color(blu2);
    flex: 0 0 100%;
    margin-bottom: 0.5em;
  }

  .--tour-duration{
    @include typo(16, 22);
    flex: 0 0 100%;
    color: color(blu);
  }

  .--tour-price{
    @include typo(25, 30);
    @include i-flex(c, fs, fs);
    color: #050505;
    position: relative;
    z-index: 1;
    p{
      margin: 0.2em 0;
    }
    small{
      font-size: 55%;
      background-color: color(white);
    }
  }

  .--tour-summary{
    margin-top: 50px;
    @include fw(m);
    line-height: 1.8;
    b, strong{
      @include fw(m);
    }
    h6{
      margin-top: 20px;
      margin-bottom: 20px;
      color: color(blu2);
      @include typo(16, 20);
    }
  }

  .--tour-enq-form{
    flex: 1;
    padding: 30px 30px 0 30px;
    background-color: color(white);
    box-shadow: 0px 0px 29.44px 2.56px rgba(0, 23, 93, 0.06);
    h6{
      line-height: 1.5;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  @media(max-width: 999px){
    .inner-container{
     display: block;
    }
    .--tour-info{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .--tour-summary{
      margin-top: 30px;
    }
    .--tour-enq-form{
      width: 100%;
      float: left;
      padding: 30px 20px 0 20px;
    }
  }
}

.hs__pelling{
  .main-container{
    max-width: 830px;
  }

  & > *{
    margin-bottom: 80px;
  }

  .sec-title{
    margin-bottom: 40px;
  }

  @media(max-width: 999px){
    & > *{
      margin-bottom: 40px;
    }
  
    .sec-title{
      margin-bottom: 30px;
    }
  }

  @media(max-width: 760px){
    & > *{
      margin-bottom: 30px;
    }
  }

  .hs__pelling--intro{
    .table-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      margin: 0 -15px;
    }
    article{
      margin-top: 60px;
      @include fw(m);
    }
    @media(max-width: 999px){
      .table-grid{
        gap: 30px;
      }
      article{
        margin-top: 30px;
      }
    }
    @media(max-width: 575px){
      .table-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
      }
      th{
        width: 150px;
      }
    }
  }

  .hs__pelling--reach{
    article{
      max-width: 500px;
      padding: 50px 50px 50px 120px;
      position: relative;
      margin-bottom: 60px;

      color: color(blu);
      .--title{
        display: inline-block;
        font-size: 25px;
        position: absolute;
        top: 86px;
        left: 10px;
        @include transform(rotate(-90deg));
        transform-origin: center;
      }

      p{
        line-height: 1.9;
        @include fw(r);
      }

      @media(max-width: 999px){
        margin-bottom: 40px;
      }
      @media(max-width: 760px){
        margin-bottom: 30px;
      }
      @media(max-width: 575px){
        padding: 30px 30px 80px 30px;
        .--title{
          font-size: 20px;
          margin-bottom: 20px;
          position: static;
          @include transform(rotate(0));
        }
      }

      &.by-train{
        .--fig{
          width: 95px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      &.by-bus{
        margin-left: auto;
        .--fig{
          width: 110px;
          position: absolute;
          bottom: -7px;
          left: 0;
        }
      }

      &.by-air{
        .--fig{
          width: 85px;
          position: absolute;
          bottom: -28px;
          left: 0;
        }
      }
    }

  }

  .hs__pelling--sightscene{
    overflow: hidden;
    @media(max-width: 760px){
      margin-top: 30px;
    }
    .swiper-slide{
      background-color: transparent;
    }

    .ss-title--swiper{
      @include center(XY);
      width: 100%;
      z-index: 1;
      pointer-events: none;
      text-align: center;
    }

    p{
      font-family: var(--ff-s);
      @include typo(30, 70);
      text-transform: capitalize;
    }

    .ss-title--swiper .swiper-container{
      overflow: inherit;
    }

    .swiper-slide-active{
      p{
        color: color(white);
        text-shadow: 3px 2px 20px #000;
      }
    }

    .swiper-arw{
      display: inline-block;
      color: color(blu2);
      position: absolute;
      top: -50px;
      right: 0;
    }
  }
}


.hs__contact{
  @media(min-width: 1000px){
    .inner-container{
      @include d-flex(r, sb, fe, wrap);
    }
  }
  .hs_logo{
    @include typo(28, 50);
    line-height: 1.3;
    font-weight: normal;
    span{
      color: color(blu2);
      @include fw(sb);
    }
  }

  p{
    @include typo(14, 20);
    line-height: 1.7;
    strong{
      font-size: 90%;
      @include fw(sb);
    }
  }
  h3{
    @include fw(sb);
    @include typo(28, 45);
    color: color(blu2);
    margin: 0.3em 0;
  }
  .link{
    @include typo(14, 18);
    border-bottom: 1px solid currentColor;
    margin-top: 0.5em;
  }
  a{
    &:hover{
      color: color(dblu);
    }
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    margin-top: 40px;
  }

  .--way-of-contacts{
    @include d-flex(c, sb, fs);
   
    address{
      @include i-flex(r, fs, c);
      
      & > span{
        width: 65px;
        margin-right: 20px;
        opacity: 0.35;
      }
    }
  }

  .--local-booking-ofc{
    margin-top: 100px;
    margin-left: 50px;
  }

  .--contact-form{
    max-width: 600px;
    margin-top: 80px;
  }

  @media(max-width: 999px){
    .grid{
      width: 100%;
    }

    .--local-booking-ofc{
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 0;
    }
  
    .--contact-form{
      margin-top: 50px;
    }
  }

  
  @media(max-width: 575px){
    .grid{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px 60px;
      margin-top: 30px;
      img{
        max-height: 45px;
      }
    }
    
    .--way-of-contacts{
      address{
        & > span{
          width: 45px;
          margin-right: 15px;
        }
      }
    }

    .--local-booking-ofc{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .--contact-form{
      margin-top: 35px;
    }
  }
}



// ABOUT
.hs__about{
  .main-container{
    max-width: 900px;
  }
}
.hs__about--hotel{
  .inner-container{
    position: relative;
  }
  .--title{
    @include typo(35, 80);
    line-height: 1;
    color: color(blu);
    span{
      @include fw(l);
      display: block;
    }
    position: absolute;
    left: 33.3%;
    bottom: 54%;
    z-index: 111;
  }
  figure{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    gap: 10px;
    align-items: end;
    span{
      box-shadow: 0px 0px 49px 0px rgba(0, 23, 93, 0.11); 
      border: 8px solid color(white);
    }
  }
  article{
    margin-top: 50px;
  }


  @media(max-width: 760px){
    figure{
      span{
        border: 3px solid color(white);
      }
    }
    article{
      margin-top: 30px;
    }
  }


  @media(max-width: 560px){
    .--title{
      display: none;
    }
    figure{
      grid-template-columns: repeat(2, 1fr);
    }
    .b2{
      grid-column: 2;
    }
    .fig-reception{
      grid-row: 2;
      grid-column: 1/-1;
    }
  }
  
}

.hs__about--offer{
  margin-top: 100px;
  margin-bottom: 100px;

  .inner-container{
    @include d-flex(rr, fs, c);
  }
  .sec-title{
    writing-mode: tb-rl;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 50px 50px 50px 0;
    margin-right: 30px;
    position: relative;
    z-index: 1;
    &::before{
      content: '';
      width: 100vw;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: color(b1);
    }
  }
  .offer-card{
    @include d-flex(r, fs, c);
    color: color(blu);
    figure{
      width: 75px;
      height: 75px;
      flex: 0 0 75px;
      color: color(white);
      background-color: color(blu);
      @include i-flex(c, c, c);
      @include fw(m);
      font-size: 20px;
      @include border-radius(50%);
      margin-right: 20px;
    }
    h5{
      @include typo(16, 18);
      @include fw(m);
    }
    p{
      @include typo(14, 16);
      @include fw(r);
      line-height: 1.5;
      margin-top: 0.4em;
      strong{
        @include fw(m);
      }
    }
    img{
      max-height: 45px;
      @include imgW();
    }
  }

  @media(max-width: 999px){
    margin-top: 40px;
    margin-bottom: 50px;
  }

  @media(max-width: 575px){
    margin-bottom: 0;
    .grid{
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
      padding: 30px 30px 30px 0;
      margin-right: 0;
      ::before{
        right: 8px;
      }
    }
    .offer-card{
      figure{
        width: 65px;
        height: 65px;
        flex: 0 0 65px;
        margin-right: 15px;
      }
      img{
        max-height: 60%;
      }
    }
  }
}


.btn-whatsapp{
	background-color: #00E676;
	color: #fff;
}

.btn-whatsapp img{
	width: 1.5em;
}