.btn-whatsapp{
	background-color: #00E676;
	color: #fff;
}

.btn-whatsapp img{
	width: 1.5em;
}

.hs__about--hotel figure{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	gap: 10px;
	align-items: end;
}

.hs__about--hotel figure .fig-reception{
	width: auto;
	position: static;
}

.hs__about--hotel .--title{
	left: 33.3%;
}

.hs__about--hotel figure .fig-building{
	max-width: none ;
}

@media(max-width: 560px){
	.hs__about--hotel .--title{
		position: static;
		margin-bottom: 0.5em;
	}
	.hs__about--hotel figure{
		display: block;
	}
}

@media(min-width: 1000px){
	.hs__rooms-grid .hs__room figure{
		margin-bottom: 95px;
	}
}