table{width: 100%; max-width: 100%; border-collapse: collapse; background-color: transparent;
    th, td{padding:15px 0; vertical-align: middle; text-align: left; line-height: 1.5;}
    &.extreme-y{
        th, td{
            padding:10px 0;
        }
    }
    &.extreme-data{
        th, td{padding: 6px;}
    }
    &.table-striped{
        tr:nth-child(even){background-color: color(striped);}
        th, td{padding: 15px;}
        // th{font-size: 13px;}
    }
    &.extreme-data-10{
        th, td{padding:15px 10px;}
    }
    &.no-border{
        border:0;
        tr, th, td{border:0;}
    }
    &.has-border{
        tr{border-bottom: 1.5px solid color(border);}
    }
    &.border-top{
        border-top: 1.5px solid color(border);
    }
    &.border-bottom{
        border-bottom: 1.5px solid color(border);
    }
    &.border-all{
        border: 2px solid color(border);
    }
    &.extremed-data{
        th, td{padding: 10px 15px;}
        @media(max-width: 600px){
            th, td{padding: 8px;}
        }
    }
    &.comfortable{
        th, td{padding:25px 0;}
    }
    &.more-comfortable{
        th, td{padding:25px !important;}
    }
    th{
        @include fw(r);
    }
    td{
        @include fw(m);
    }
}

.table-container{
    @extend .fullW;
    overflow: auto;
}

table{
    &[valign="top"] {td, th{vertical-align: top;}}
    &[valign="bottom"] {td, th{vertical-align: bottom;}}
}