.tooltip{
    position: relative;
    &::before,
    &::after{
        position: absolute;
        opacity: 0;
        @include transition(0.2s);
    }
    &::after{
        content: attr(title);
        display: inline-block;
        @include border-radius(27px);
        color: color(white);
        top: 0;
        right: -15px;
        @include transform(translateY(calc(-100% - 20px)));
        font-size: 15px;
        @include font(m);
        padding: 0.8em 1.5em;
        white-space: nowrap;
    }
    &::before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 20px 0;
        border-color: transparent;
        right: 10px;
        top: -25px;
        z-index: -1;
    }
    &:hover{
        &::before,
        &::after{
            opacity: 1;
        }
    }
    &#link-dribbble:hover{
        &::after{
            background-color: color(dribbble);
            // background-image: radial-gradient( circle 830px at 95.6% -5%,  rgba(244,89,128,1) 0%, rgba(223,23,55,1) 90% );
        }
         &::before{
             border-right-color: color(dribbble);
         }
    }
    &#link-dribble::before{
        border-top-color: color(dribbble);
    }
    &#link-instagram:hover{
        &::after{
            background-color: color(instagrammagenta);
            //background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        }
         &::before{
             border-right-color: color(instagrammagenta);
         }
    }
    &#link-fb:hover{
        &::after{
            background-color: color(facebook);
            // background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
        }
         &::before{
             border-right-color: color(facebook);
         }
    }
    &#link-email:hover{
        &::after{
            background-color: color(grnbox);
            // background-image: linear-gradient( 109.6deg,  rgba(102,203,149,1) 11.2%, rgba(39,210,175,1) 98.7% );
        }
         &::before{
             border-right-color: color(grnbox);
         }
    }
}