// TAB CONTENT
.tabContainer{width: 100%; float: left;}
.tabMenu{width: 100%; float: left; text-align: center; @include flex(); background-color: color(tabBg);
    li{display: inline-block; flex:1; @include flex();
      &:not(:last-child){
        border-right: 1.5px solid color(border);
      }
      a{display: inline-block; color: inherit; font-size: inherit; line-height: normal; flex:1; padding:22px 15px;
        &.actv{
          background-color: color(red); color: color(white);
        }
      }
      
    }
  }
.tabContents{width: 100%; float: left;
    .tabContent{width: 100%; float: left; padding: 20px;
        &:not(:first-child){display: none;}
    }
}

// ACCORDIAN
.accord{
  list-style: none;
  @include font(r);
  // & > *:not(:last-child){
  //     margin-bottom: 25px;
  // }
  .accord-btn{
    display: block;
    position: relative;
    @include transition(0.1s);
    &::before, &::after{
      content: '';
      display: block;
      position: absolute;
      @include transition(0.2s);
    }
    &::before{
      width: 16px;
      height: 16px;
      @include transform(rotate(45deg));
      border-width: 0 1px 1px 0;
      border-color: color(white);
      border-style: solid;
      right: 39px;
      top: 31px;
    }
    // &::after{
    //   width: 22px;
    //   height: 5px;
    //   top: 40px;
    //   right: 30px;
    // }
    &.actv{
      &::before{
        @include transform(rotate(225deg));
      }
    }
  }
  .accord-target{
     display: none;
  } 
}



